
	<div class="card" style="position: relative;">
		<div class="row">
			<div class="col" style="text-align: center">
				<img src="img/fakeroute.jpg" style="max-width:100%" />		
			</div>
		</div>
		<div class="row">
			<div class="col" style="text-align: center;">
				<div class="row">
					<div class="col">
						<h4 style="margin-bottom: 0;">Ruta de Mario Mixtega</h4>
						<span style="font-weight: bolder;margin-bottom: 10px">8.6 / 10</span>		
					</div>
				</div>

				<div class="row">
					<div class="col">
						<h5>Cerca del punto <span style="font-weight: bolder;">Casa</span></h5>
						<h6><span style="font-weight: bolder;">Sale a las 2:00 pm</span></h6>
					</div>
				</div>
				
			</div>
		</div>
	</div>	


<style type="text/css">
	.row, .col {
	    padding: 0;
	}
</style>